.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.explore-menu h1 {
    color: var(--text-dark);
    font-weight: 600;
    font-size: max(2vw, 24px);
}

.explore-menu-text {
    max-width: 80%;
    color: var(--text-light);
    line-height: 1.6;
}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 30px 0px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: var(--transition-fast);
}

.explore-menu-list-item p {
    margin-top: 10px;
    color: var(--text-light);
    font-size: max(1.2vw, 15px);
    cursor: pointer;
    transition: var(--transition-fast);
}

.explore-menu-list-item:hover p {
    color: var(--primary-color);
}

.explore-menu hr {
    margin: 10px 0px;
    height: 1px;
    background-color: #ededed;
    border: none;
}

.explore-menu-list-item .active {
    border: 4px solid var(--primary-color);
    padding: 2px;
}

@media (max-width: 1050px) {
    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
        line-height: 1.5;
    }
    .explore-menu h1 {
        font-size: 22px;
    }
}