.sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid var(--border-color);
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    font-size: max(1vw, 10px);
}
.sidebar-options{
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--border-color);
    border-right : 0;
    padding: 8px 10px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}

.sidebar-option:hover {
    background-color: var(--glass-bg);
    border-color: var(--primary-color);
}

.sidebar-option.active {
    background-color: var(--glass-bg);
    border-color: var(--primary-color);
}

@media (max-width: 900px) {
    .sidebar {
        width: 80px;
    }
    .sidebar-options {
        padding-left: 0;
        align-items: center;
    }
    .sidebar-option {
        padding: 5px 8px;
        border: 1.5px solid #a9a9a9;
        border-radius: 5px;
    }
    .sidebar-option p{
        display: none;
    }
}