.order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid #ededed;
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #454545;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.order-item:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.order-item-food,
.order-item-name {
    font-weight: 600;
}

.order-item-address {
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-phone {
    line-height: 1.2;
}

.order-item select {
    background-color: #ffe1e1;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
}

@media (max-width:1000px) {
    .order-item {
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
        font-size: 12px;
    }

    .order-item select {
        padding: 5px;
        font-size: 10px;
    }
}
