.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.navbar .logo{
    width: max(15%, 80px);
}
.navbar .profile{
    width: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}