.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.navbar .logo {
    width: max(15%, 80px);
}

.navbar .profile {
    width: 40px;
    border-radius: 50%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    background-color: var(--bg-color);
    transition: var(--transition-fast);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar-theme-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #f1f1f1;
    padding: 2px;
    border-radius: 50px;
    width: 60px;
    height: 32px;
    position: relative;
    transition: var(--transition-fast);
}

[data-theme='dark'] .navbar-theme-toggle {
    background: #333;
}

.toggle-btn {
    width: 28px;
    height: 28px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.toggle-btn.active {
    transform: translateX(28px);
    background: #222;
}

.toggle-btn .icon {
    font-size: 16px;
    user-select: none;
}