.footer {
    color: #d1d1d1;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 80px 8vw 40px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 100px;
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-content-left p {
    line-height: 1.6;
}

.footer-content li {
    list-style: none;
    margin-bottom: 12px;
    cursor: pointer;
    transition: var(--transition-fast);
}

.footer-content li:hover {
    color: var(--primary-color);
    transform: translateX(5px);
}

.footer-content-right h2,
.footer-content-center h2 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-social-icons {
    display: flex;
    gap: 15px;
}

.footer-social-icons img {
    width: 35px;
    cursor: pointer;
    transition: var(--transition-fast);
}

.footer-social-icons img:hover {
    transform: translateY(-5px);
}

.footer hr {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: #4d4d4d;
    border: none;
}

.Logo {
    width: 150px;
    margin-bottom: 10px;
}

.footer-copyright {
    font-size: 14px;
}

@media (max-width: 900px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}