.navbar{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    transition: var(--transition-fast);
}
.navbar .logo {
    width: 140px;
}

.navbar-menu{
    display: flex;
    list-style:none;
    gap:30px;
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 500;
}

.navbar-menu a {
    cursor: pointer;
    transition: var(--transition-fast);
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
}

.navbar-menu a:hover,
.navbar-menu .active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar-search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f7f7f7;
    padding: 8px 15px;
    border-radius: 50px;
    border: 1px solid #e9e9e9;
    transition: var(--transition-fast);
    width: 42px;
    overflow: hidden;
}

.navbar-search-container.active {
    width: 280px;
    background-color: #ffffff;
    border-color: var(--primary-color);
    box-shadow: 0px 4px 10px rgba(255, 76, 36, 0.1);
}

.navbar-search-container img {
    cursor: pointer;
    width: 20px;
}

.navbar-search-container input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
}

.navbar button{
    background: transparent;
    font-size:15px;
    color: var(--text-dark);
    border: 1px solid var(--primary-color);
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--transition-fast);
    font-weight: 500;
}

.navbar button:hover{
    background-color: #fff4f2;
    transform: scale(1.02);
}

.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: -8px;
    right: -8px;
    border: 2px solid white;
}

@media (max-width: 1050px) {
    .navbar .logo {
        width: 120px;
    }
    .navbar-menu {
        gap: 20px;
        font-size: 15px;
    }
    .navbar-right {
        gap: 30px;
    }
    .navbar-right img {
        width: 22px;
    }
    .navbar-right button {
        padding: 8px 25px;
    }
}
@media (max-width: 900px) {
    .navbar .logo {
        width: 120px;
    }
    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right {
        gap: 20px;
    }
    .navbar-right img {
        width: 20px;
    }
    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width: 750px) {
    .navbar-menu {
        display:none;
    }
    .navbar-right {
        gap: 20px;
    }
}

.navbar-profile {
    position: relative;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid #df6f29ff;
    outline: 2px solid white;
    list-style: none;
    z-index: 1;
    right: 0;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown li:hover p {
    color: #df6f29ff;
}

.nav-profile-dropdown hr {
    width: 100%;
}